Flask==2.3.2
Flask-SQLAlchemy==3.0.4
redis==5.3.1
rq==1.13.0
pandas==2.0.3
matplotlib==3.8.1
fpdf==1.7.2
spacy==3.6.1
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.2.0/pt_core_news_sm-3.2.0.tar.gz